@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <div><h1 style="text-align:center">Lin's Weight Loss Centre</h1></div>
    <div><p class="lead">Lin's Weight Loss Centre provides weight loss events including lectures and various kind of workshops to members.</p></div>
    <img class="img-responsive" src="~/Content/img/marion-michele-447867-unsplash.jpg" />

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Find an Event!</h2>

        <p><a class="btn btn-default" href="@Url.Action("Index", "Events")">Events List</a></p>
    </div>
    <div class="col-md-6">
        <h4>You can always find a suitable event operated by our experienced trainers.</h4>

    </div>

</div>

<div class="well" style="background-color:lightgrey" id="aboutus">
    <div class="row">
        <h2>About Us</h2>
        <p>This is a website for educational purpose.</p>
    </div>
    
</div>

<div id="map" style="min-height:300px;">

</div>
@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}